
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">254 Repair Prices</a>



      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div id="price-table" class="col ">
        <!-- <table class="striped">

        <tr>
          {% for p in prices_header %}
          <th>{{ p }}</th>
          {% endfor %}
        </tr>

        {% for price in prices %}
          <tr>
            {% for p in price %}
            <td>{{p}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </table> -->
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">



    </div>
    <br><br>
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <!-- <script src="{% static 'display_app/js/init.js' %}"></script> -->
  <script src="js/js.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>



  </body>
</html>
